cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/kevinloken.xcuserdatad
proj.ios_mac/SpaceGame.xcodeproj/project.xcworkspace/contents.xcworkspacedata 
proj.ios_mac/SpaceGame.xcodeproj/project.xcworkspace/xcshareddata 
proj.ios_mac/SpaceGame.xcodeproj/project.xcworkspace/xcuserdata
proj.ios_mac/SpaceGame.xcodeproj/xcuserdata/kevinloken.xcuserdatad
